# Core Django and REST Framework
Django
djangorestframework
gunicorn
user_agents


# Database
psycopg2-binary

# Celery and Message Broker
celery
celery[redis]
django-celery-beat
django-celery-results
redis
django-redis

# Authentication and Security
djangorestframework-simplejwt

# Date and Localization
jdatetime
django-jalali

# WebSockets
channels
channels_redis

# Testing and Debugging
pytest
django-debug-toolbar


# Images and Media
Pillow

# API Documentation
drf-yasg

# SMS
ghasedakpack

# Email
django-mail-templated

# Development Tools
pygraphviz
django-extensions
django-filter
django-cors-headers
python-dotenv
requests
python-docx
docx