Django
djangorestframework
gunicorn
psycopg2-binary
celery
redis
python-dotenv
djangorestframework-simplejwt
jdatetime
channels
channels_redis
django-cors-headers
pytest
django-debug-toolbar
Pillow
jdatetime
drf-yasg
ghasedakpack
django-mail-templated
celery[redis]
django-celery-beat
django-celery-results
celery
django_extensions
django-filter
django-redis
requests